<!DOCTYPE html>
<html>
  <head>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= yield %>
  </body>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>

<%= yield %>

<script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>
</html>
